{% extends "base.html" %}
{% block title %}欢迎登录教务管理系统{% endblock %}
{% load static %}

{% block custom_nav %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">信息查询 <span
                class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'backstage:my_personal_details' %}">查看个人信息</a></li>
            <li><a href="#">查看个人课表</a></li>
            <li><a href="#">查看全校课表</a></li>
            <li><a href="#">查询空闲教室</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'scoreManagement:std_view_major_plan' %}">查看专业培养计划</a></li>
            <li><a href="{% url 'scoreManagement:std_view_major_course' %}">查看专业课程计划</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'scoreManagement:student_score' %}">查看考试成绩</a></li>
            <li><a href="{% url 'scoreManagement:student_own_study' %}">查看个人学业情况</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="{% url 'courseSelection:select_course' %}" class="dropdown-toggle" data-toggle="dropdown">选课 <span
                class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'courseSelection:stu_tongshi' %}">通识课</a></li>
            <li><a href="{% url 'courseSelection:stu_major' %}">专业选修</a></li>
            <li><a href="{% url 'courseSelection:adm_selection_manage' %}">管理员界面</a></li>

            <li><a href="#">查看全校课表</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">毕业设计 <span
                class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'graduationManagement:student_choose_project' %}">题目浏览</a></li>
            <li><a href="{% url 'graduationManagement:student_submit_project' %}">题目提交</a></li>
            <li><a href="{% url 'graduationManagement:student_view_score' %}">查看成绩</a></li>
        </ul>
    </li>

    <li><a href="{% url 'scoreManagement:assess_teacher' %}">教学评价</a></li>
{% endblock %}



{% block left_side_block %}
    <!-- 不同用户自定义的左侧的侧边栏 -->


    <li class="treeview">
        <a href="{% url 'courseSelection:select_course' %}" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-folder"></i> <span>管理员功能</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span></a>
        <ul class="treeview-menu">
            <li><a href="{% url 'courseSelection:adm_selection_manage' %}">主页</a></li>
            <li><a href="{% url 'courseSelection:adm_school' %}">查询全校选课情况</a></li>
            <li><a href="{% url 'courseSelection:adm_class' %}">查询课程信息</a></li>
        </ul>

    </li>



{% endblock %}

{% block content %}
    <section class="content-header">
        <h1>系统管理员
        </h1>
    </section>
    <form method="post" action="{% url 'courseSelection:school_query' %}">
        {% csrf_token %}
        <section class="content">
            <section class="content">
                <p>时间</p>
                <select name="time">
                    <option value="2018-2019">2018-2019</option>
                    <option value="2017-2018">2017-2018</option>
                    <option value="2016-2017">2016-2017</option>
                </select>
                <p>授课年级</p>
                <select name="grade">
                    <option value="大四">大四</option>
                    <option value="大三">大三</option>
                    <option value="大二">大二</option>
                    <option value="大一">大一</option>
                </select>
                <p>学院</p>
                <select name="college">
                    <option value="材料学院">材料学院</option>
                    <option value="信息学院">信息学院</option>
                    <option value="文法学院">文法学院</option>
                    <option value="化工学院">化工学院</option>
                    <option value="材料学院">材料学院</option>
                    <option value="马克思主义学院">马克思主义学院</option>
                    <option value="能源学院">能源学院</option>

                </select>
                <p>科目</p>
                <select name="subject">
                    <option value="软件工程">软件工程</option>

                </select>
                <button type="submit" class="btn btn-primary " onclick="show_img()">搜索</button>
            </section>
        </section>
    </form>

        <body>
        <p>历年选课人数</p>
        <left><img src="{% static "img/adm_query/test1.jpg" %} " alt=""/></left>
        <p>选课专业分布</p>
        <left><img src="{% static "img/adm_query/test.jpg" %} " alt=""/></left>
        <p>选课专业人数</p>
        <left><img src="{% static "img/adm_query/test3.jpg" %} " alt=""/></left>
        </body>
{% endblock %}
